html {
    /* par defaut les naviguateurs web utilisent une taille de police de 16px
    100% = 16 px*/
    font-size: 100%;
    font-family: 'Inter', sans-serif; /*Font link in the HTML <head> from google font*/
}

/*
* {
    box-sizing: border-box;
}*/

body {
    margin: 0px;
    padding: 0px;
    border: none;

    /*Si l'image ne peut pas etre lue, la couleur sera rendu par le browser,
    sinon l'image overide la couleur*/
    background-color: grey;
    background-image: url("../images/other/thomas-tastet-hSODeSbvzE0-unsplash.jpg");
    background-position: center;
}

header {
    /* par defaut les naviguateur utilisent une taille de police de 16px.
    1.1rem = 110% de 16px */
    font-size: 1rem;
    height: 60px;
    border: 6px solid rgb(0, 47, 255);
    background-color:darksalmon;
    /*le top est requis pour prensre en compte le sticky*/
    top: 0;
    position: sticky;
    z-index: 1;
}

nav {
    box-sizing: border-box;
    border: 4px solid rgb(0, 157, 255);
    height: 60px;
    background-color: rgb(167, 97, 97);

}

main {
    border: 4px solid rgb(255, 0, 0);
    height: 800px;
}

footer {
    width: 50%;
    /* quand on specifie 0px, on ecrie 0.
    Le 0 indique opx de marge haute/basse et
    le parametre auto va placer la div centre horizontalement par rapport a la page*/
    margin: 0 auto;
    color: white;
    border: 4px solid rgb(234, 178, 10);
}

a {
    color: rgb(74, 17, 197);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

div {
    box-sizing: border-box;
    border: 4px solid rgb(255, 0, 195);
    color: rgb(0, 0, 0);
    background-color: white;
    opacity: 0.5;
}

#content {
    max-width: 50%;
    height: 260px;
    margin: auto;
    /*Si une hauteur est specifiee et la quantite de texte deborde du container,
    le parametre scroll va afficher une barre de defilement*/
    overflow: scroll;
}

.naviguationMenu li{
    display: inline-block;
    border: 1px solid blue;
    padding-left: 10px;
    width: 100px;
}

.naviguationMenu :hover{
    background-color: azure;
}

h1, h3 {
    text-align: center;
}

#tagLine {
    color:rgb(229, 16, 207);
    letter-spacing: 2px;
    font-weight:bolder;
    font-size: .7rem;
    text-transform: uppercase;
}

#whoIam {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

p {
    text-align: center;
}

ul.myList {
    border: 3px solid blue;
    width: 50%;
    margin: 0 auto;
}

ul.myList li {
    list-style: none;
    text-align: center;
    border: 1px solid cyan;
    display:inline-flexbox;/* ?????? */
    padding: 10px;
    margin-left: -40px;
}

.myInnerList:hover {
    background-color: green;
}

span {
    color: rgb(137, 3, 150);
    text-transform: uppercase;
    line-height: 2em;
    font-style: italic;
}

#earth {
    position:relative;
    width: 10%;
    left: 25%;

}