html, body {
       height: 100%;
       font-family: "roboto", sans-serif;
       font-size: 16px;
       color: rgb(0, 0, 0);
       opacity: 1;
       background-image: url(../images/other/index_hash_v01.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       background-position: top;
}


/*:::::::::::::::::::::::::NAV::::::::::::::::::::::::::::::*/

header {
       position: fixed;
       width: 100%;
       background-color: #23D0E8;
       z-index: 5;
}


#containerHeader {
       display: flex;
       justify-content: space-between;
       align-items: center;
       height: 6.25rem;
       width: 100%;
}

#flexItemlogo {
       flex-grow: 1;
       flex-shrink: 5;
       max-width: 20%;
       margin-left: 1.5rem; 
       color: white;
}

#flexItemNavMenu_desk {
       display: flex;
       flex-grow: 1;
       flex-shrink: 1;
       align-items: center;
       justify-content: end;

       max-width: 50%;
       margin-right: 1.5rem;
}

#flexItemNavMenu_desk li {
       display: inline-block;
       margin-left: 2rem; 
       font-weight: 400;
}

#flexItemNavMenu_desk a {
       color: white;
       padding: 0.2rem 0.5rem;
       border-radius: 1rem;
       transition-property: background-color, color;
       transition-duration: 200ms;
       transition-timing-function: ease-in-out;
}

#flexItemNavMenu_desk a:hover {
       background-color: #33FFE0;
       color: black;
}


@media only screen and (max-width: 650px) {
       #flexItemNavMenu_desk {
              display: none;
       }

       #flexItemlogo{
              margin-left: 0.5rem;
       }

       #flexItemlogo img{
              width: 30%;
       }

       #flexItemNavMenu_mobile a {
              padding: 0.2rem 0.5rem;
              border-radius: 1rem;
              transition-property: background-color, color;
              transition-duration: 200ms;
              transition-timing-function: ease-in-out;
}

       #flexItemNavMenu_mobile a:hover {
              background-color: #33FFE0;
              color: black;
       }
}

#flexItemNavMenu_mobile a {
       font-size: 1.5rem;
       margin-left: 1rem;
}

#flexItemNavMenu_mobile {
       display: flex;
}

#flexItemNavMenu_mobile li {
       display: inline-block;
}

@media only screen and (min-width: 650px) {
       #flexItemNavMenu_mobile {
              display: none;
       } 
}

/*:::::::::::::::::::::::::MAIN::::::::::::::::::::::::::::::*/

#title {
       box-sizing: border-box;
       position: relative;
       top: 7.25rem;
       width: 66.7%;
       margin: auto;
       color: white;
       padding: 0.5rem 1rem;
       background-color: #363636;
}

.containerInfos {
       display: flex;
       position: relative;
       top: 9.25rem;
       height: 45vh;
       /* top: 9.25rem; */
       width: 70%;
       margin: auto;
       /* height: 54.5vh */
       /* border: 1px solid black; */
}

.comments {
       width: 50%;
       flex-shrink: 1;
       margin: 0 2rem;
       line-height: 1.7rem;
       font-size: 1rem;
       padding: 0rem 2rem;
       /* border: 1px solid rgb(9, 6, 196); */
}

.skills {
       font-size: 1rem;
       padding: 0rem 2rem;
       margin: 0 2rem;
       line-height: 1.7rem;
       width: 50%;
}

ul {
       padding-top: 1.7rem;
       list-style: circle;
}

#boldType {
       font-weight: 700;
}

#buttons {
       display: flex;
       justify-content: space-between;
       position: relative;
       top: 10rem;
       width: 70%;
       margin: auto;
       /* border: 1px solid black; */
}


#buttonLinkedin {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 10%;
       height: 50px;

       align-self: center;
       margin: 2rem 0 2rem 2rem;
       border-radius: 2rem;
       background-color: #23D0E8;
       color: white;
       font-weight: 400;

       transition-property: background-color, color;
       transition-duration: 350ms;
       transition-timing-function: ease-in-out;
}

#buttonLinkedin:hover {
       background-color: #33FFE0;
       color: black;
}

#buttonGit {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 10%;
       height: 50px;

       align-self: center;
       margin: 2rem 0 2rem 2rem;
       border-radius: 2rem;
       background-color: #23D0E8;
       color: white;
       font-weight: 400;

       transition-property: background-color, color;
       transition-duration: 350ms;
       transition-timing-function: ease-in-out;
}

#buttonGit:hover {
       background-color: #33FFE0;
       color: black;
}

#buttonIMDB {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 10%;
       height: 50px;

       align-self: center;
       margin: 2rem 2rem 2rem 2rem;
       border-radius: 2rem;
       background-color:#23D0E8;
       color: white;
       font-weight: 400;
       
       transition-property: background-color, color;
       transition-duration: 350ms;
       transition-timing-function: ease-in-out;
}

#buttonIMDB:hover {
       background-color: #33FFE0;
       color: black;
}

.presentation img {
       width: 100%;
}

.vignette {
       display: flex;
       width: 100%;
       /* border: 1px solid white; */
}

.vignette img {
       max-width: 50%;
       border: 1px solid white;
}






/*:::::::::::::::::::::::::FOOTER::::::::::::::::::::::::::::::*/



.copyright {
       position: relative;
       top: 25rem;
       width: 100%;
       text-align: center;
       padding: 0.7rem 0;
       height: 200px;
       font-size: .7rem;
       background-color: rgb(231, 231, 231);
       
}

