html, body {
       height: 100%;
       font-family: "roboto", sans-serif;
       font-size: 16px;
       color: rgb(0, 0, 0);
       opacity: 1;
       background-image: url(../images/other/index_hash_v01.jpg);
       background-size: cover;
       background-repeat:repeat;
       background-position: top;
}



/*:::::::::::::::::::::::::NAV::::::::::::::::::::::::::::::*/

header {
       position: fixed;
       width: 100%;
       background-color: #383f52;
       z-index: 5;
}


#containerHeader {
       display: flex;
       justify-content: space-between;
       align-items: center;
       height: 6.25rem;
       width: 100%;
}

#flexItemlogo {
       flex-grow: 1;
       flex-shrink: 5;
       max-width: 20%;
       margin-left: 1.5rem; 
       color: white;
}

#flexItemNavMenu_desk {
       display: flex;
       flex-grow: 1;
       flex-shrink: 1;
       align-items: center;
       justify-content: end;
       max-width: 50%;
       margin-right: 1.5rem;
}

#flexItemNavMenu_desk li {
       display: inline-block;
       margin-left: 2rem; 
       font-weight: 400;
}

#flexItemNavMenu_desk a {
       color: white;
       padding: 0.2rem 0.5rem;
       border-radius: 1rem;
       transition-property: background-color, color;
       transition-duration: 200ms;
       transition-timing-function: ease-in-out;
}

#flexItemNavMenu_desk a:hover {
       background-color: #33FFE0;
       color: black;
}


@media only screen and (max-width: 950px) {
       #flexItemNavMenu_desk {
              display: none;
       }

       #flexItemlogo{
              display: none;
              margin-left: 0.5rem;
       }

       #flexItemlogo img{
              width: 30%;
       }

       #flexItemNavMenu_mobile a {
              color: white;
              padding: 0.2rem 0.5rem;
              border-radius: 1rem;
              transition-property: background-color, color;
              transition-duration: 200ms;
              transition-timing-function: ease-in-out;
       }

       #flexItemNavMenu_mobile a:hover {
              background-color: #33FFE0;
              color: black;
       }
}

#flexItemNavMenu_mobile a {
       font-size: 1.5rem;
       margin-left: 1rem;
}

#flexItemNavMenu_mobile {
       display: flex;
}

#flexItemNavMenu_mobile li {
       display: inline-block;
}

@media only screen and (min-width: 950px) {
       #flexItemNavMenu_mobile {
              display: none;
       } 
}

/*:::::::::::::::::::::::::MAIN::::::::::::::::::::::::::::::*/

#containerMain {
       position: relative;
       top: 6.25rem;
       height: calc(100vh - 30rem);
}

#containerPresentation {
       display: flex;
       flex-direction: column;
       align-items: center;
       position: relative;
       top: 25%;
       width: 50%;
       margin: auto;
       letter-spacing: -0.05rem;

}

#title {
       font-size: 1.9rem;
       font-weight: 300;
       text-align: center;
}

#containerButtons {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: space-around;
       margin: auto;
       width: 70%;

}

#button p {

       width: 7.5rem;
       margin-top: 2rem;
       padding: 1rem 0 1rem 0;
       border-radius: 1.5rem;
       text-align: center;
       color: white;
       background-color: #383f52;

       transition-property: background-color, color;
       transition-duration: 200ms;
       transition-timing-function: ease-in-out;
}

#button p:hover {
       background-color: #33FFE0;
       color: black;
}



/*:::::::::::::::::::::::::FOOTER::::::::::::::::::::::::::::::*/

.copyright {
       position: relative;
       top: 25rem;
       width: 100%;
       text-align: center;
       padding: 0.7rem 0;
       height: 200px;
       font-size: .7rem;
       background-color: rgb(231, 231, 231);
}

