html, body {
       height: 100%;
       font-family: "roboto", sans-serif;
       font-size: 16px;
       color: rgb(0, 0, 0);
       opacity: 1;
}

header {
       position: fixed;
       width: 100%;
       background-color: rgb(250, 250, 250);
       z-index: 1;
       /* border-bottom: 1px solid rgb(0, 0, 0); */
}

#containerHeader {
       display: flex;
       justify-content: space-between;
       align-items: center;

       height: 6.25rem;
       width: 100%;
       
}

#flexItemName {
       flex-grow: 1;
       flex-shrink: 5;
 
       width: 20%;
       margin-left: 1.5rem; 
}

#flexItemName a {
       font-size: 1rem;
       letter-spacing: -0.03rem;
       transition-property: background-color;
       transition-duration: 200ms;
       transition-timing-function: ease-in-out;
}

#flexItemName a:hover {
       background-color: #33FFE0;
}

#flexItemNavMenu_desk {
       display: flex;
       flex-grow: 1;
       flex-shrink: 1;
       align-items: center;
       justify-content: end;

       max-width: 50%;
       margin-right: 1.5rem;
       font-size: 1rem;
       letter-spacing: -0.03rem;
}

#flexItemNavMenu_desk li {
       display: inline-block;
       margin-left: 2rem; 

       font-weight: 400;
}

#flexItemNavMenu_desk a {
       transition-property: background-color;
       transition-duration: 200ms;
       transition-timing-function: ease-in-out;
}

#flexItemNavMenu_desk a:hover {
       background-color: #33FFE0;
}

@media only screen and (max-width: 650px) {
       #flexItemNavMenu_desk {
              display: none;
       }

       #flexItemlogo{
              margin-left: 0.5rem;
       }

       #flexItemlogo img{
              width: 30%;
       }

       #flexItemNavMenu_mobile a {
       transition-property: background-color, color;
       transition-duration: 500ms;
       transition-timing-function: ease-in-out;
}

       #flexItemNavMenu_mobile a:hover {
              color: white;
              background-color: rgb(255, 63, 63);
       }
}

#flexItemNavMenu_mobile a {
       font-size: 1.5rem;
       margin-left: 1rem;

       /* border: 1px solid red; */
}

#flexItemNavMenu_mobile {
       display: flex;
}

#flexItemNavMenu_mobile li {
       display: inline-block;
}

@media only screen and (min-width: 650px) {
       #flexItemNavMenu_mobile {
              display: none;
       } 
}





/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::VISUAL DESIGN::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* #flexContainer {
       display: flex;
       flex-wrap: wrap;
       position: relative;
       top: 6.25rem;
       background-color: rgb(255, 255, 255);
} */

#container_visualDesign {
       position: relative;
       top: 7.25rem;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr;
       grid-gap: 15px 15px;
       grid-template-areas: "gridTemplateImage01 gridTemplateImage02 gridTemplateImage03"
                            "gridTemplateImage04 gridTemplateImage05 gridTemplateImage06"
                            "gridTemplateImage07 gridTemplateImage08 gridTemplateImage09";

       width: 70%;
       margin: auto;
}

.titleOverlay {
       font-size: 2.5rem;
       color:white;
}

.subTitleOverlay {
       color: white;
       font-weight: 400;
}

#gridTemplateImage01 {
       grid-area:  gridTemplateImage01;
       overflow: hidden;
       border-radius: 0.5rem;

 }

 #gridTemplateImage01 img {
       display: block;
       max-width: 100%;
 }



 #gridTemplateImage01Overlay {
       grid-column-start: 1;
       grid-column-end: 2;
       grid-row-start: 1;
       grid-row-end: 2;
       justify-content: center;
       align-items: center;

       transition-property: opacity;
       transition-duration: 200ms;
       transition-timing-function: ease-in-out;

       display:flex;
       text-align: center;
       background-color: rgb(255, 63, 63);
       opacity: 0.95;
       border-radius: 0.5rem;
 }

 #gridTemplateImage01Overlay:hover {
       opacity: 0;
     }

 /* #gridTemplateImage01:hover img {
       transform: scale(1.4);
       transform-origin: 50% 50%;
     } */

 #gridTemplateImage02 {
       grid-area:  gridTemplateImage02;
       overflow: hidden;
       border-radius: 0.5rem;
 }

 #gridTemplateImage02 img {
       display: block;
       max-width: 100%;
       transform: scale(1.3);
       transform-origin: 50% 0%;
 }

 #gridTemplateImage02Overlay {
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start: 1;
       grid-row-end: 2;
       justify-content: center;
       align-items: center;

       transition-property: opacity;
       transition-duration: 500ms;
       transition-timing-function: ease-in-out;

       display:flex;
       text-align: center;
       background-color: rgb(255, 63, 63);
       opacity: 0.95;
       border-radius: 0.5rem;
 }

 #gridTemplateImage02Overlay:hover {
       opacity: 0;
     }

 #gridTemplateImage03 {
       grid-area:  gridTemplateImage03;
       overflow: hidden;
       border-radius: 0.5rem;
 }

 #gridTemplateImage03 img {
       display: block;
       max-width: 100%;
 }

 #gridTemplateImage03Overlay {
       grid-column-start: 3;
       grid-column-end: 4;
       grid-row-start: 1;
       grid-row-end: 2;
       justify-content: center;
       align-items: center;

       transition-property: opacity;
       transition-duration: 500ms;
       transition-timing-function: ease-in-out;

       display:flex;
       text-align: center;
       background-color: rgb(255, 63, 63);
       opacity: 0.95;
       border-radius: 0.5rem;
 }

 #gridTemplateImage03Overlay:hover {
       opacity: 0;
     }



 #gridTemplateImage04 {
       grid-area:  gridTemplateImage04;
       overflow: hidden;
       background-color: rgb(10, 133, 204);
       border-radius: 0.5rem;
 }

 #gridTemplateImage04 img {
       display: block;
       max-width: 100%;
       transform: scale(1.3);
       transform-origin: 50% 2%;
       position: relative;
       /* top: 11%; */
 }

 #gridTemplateImage04Overlay {
       grid-column-start: 1;
       grid-column-end: 2;
       grid-row-start: 2;
       grid-row-end: 3;
       justify-content: center;
       align-items: center;

       transition-property: opacity;
       transition-duration: 500ms;
       transition-timing-function: ease-in-out;

       display:flex;
       text-align: center;
       background-color: rgb(255, 63, 63);
       opacity: 0.95;
       border-radius: 0.5rem;
}

#gridTemplateImage04Overlay:hover {
       opacity: 0;
}



#gridTemplateImage05 {
       grid-area:  gridTemplateImage05;
       overflow: hidden;
       background-color: rgb(10, 204, 123);
       border-radius: 0.5rem;
 }

 #gridTemplateImage05 img {
       display: block;
       max-width: 100%;
       transform: scale(1.3);
       transform-origin: 50% 2%;
       position: relative;
 }

 #gridTemplateImage05Overlay {
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start: 2;
       grid-row-end: 3;
       justify-content: center;
       align-items: center;

       transition-property: opacity;
       transition-duration: 500ms;
       transition-timing-function: ease-in-out;

       display:flex;
       text-align: center;
       background-color: rgb(255, 63, 63);
       opacity: 0.90;
       border-radius: 0.5rem;
 }

 #gridTemplateImage05Overlay:hover {
       opacity: 0;
     }


 #gridTemplateImage06 {
       grid-area:  gridTemplateImage06;
       overflow: hidden;
       background-color: rgb(204, 191, 10);
       border-radius: 0.5rem;
 }

 #gridTemplateImage06 img {
       display: block;
       max-width: 100%;
       transform: scale(1.3);
       transform-origin: 50% 2%;
       position: relative;
 }

 #gridTemplateImage06Overlay {
       grid-column-start: 3;
       grid-column-end: 4;
       grid-row-start: 2;
       grid-row-end: 3;
       justify-content: center;
       align-items: center;

       transition-property: opacity;
       transition-duration: 500ms;
       transition-timing-function: ease-in-out;

       display:flex;
       text-align: center;
       background-color: rgb(255, 63, 63);
       opacity: 0.95;
       border-radius: 0.5rem;
 }

 #gridTemplateImage06Overlay:hover {
       opacity: 0;
     }


#gridTemplateImage07 {
       grid-area:  gridTemplateImage07;
       overflow: hidden;
       background-color: rgb(204, 191, 10);
       border-radius: 0.5rem;
 }

 #gridTemplateImage07 img {
       display: block;
       max-width: 100%;
       transform: scale(1.3);
       transform-origin: 50% 2%;
       position: relative;
 }

 #gridTemplateImage07Overlay {
       grid-column-start: 1;
       grid-column-end: 2;
       grid-row-start: 3;
       grid-row-end: 4;
       justify-content: center;
       align-items: center;

       transition-property: opacity;
       transition-duration: 500ms;
       transition-timing-function: ease-in-out;

       display:flex;
       text-align: center;
       background-color: rgb(255, 63, 63);
       opacity: 0.95;
       border-radius: 0.5rem;
 }

 #gridTemplateImage07Overlay:hover {
       opacity: 0;
     }


#gridTemplateImage08 {
       grid-area:  gridTemplateImage08;
       overflow: hidden;
       background-color: rgb(204, 191, 10);
       border-radius: 0.5rem;
 }

 #gridTemplateImage08 img {
       display: block;
       max-width: 100%;
       transform: scale(1.3);
       transform-origin: 50% 2%;
       position: relative;
 }

 #gridTemplateImage08Overlay {
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start: 3;
       grid-row-end: 4;
       justify-content: center;
       align-items: center;

       transition-property: opacity;
       transition-duration: 500ms;
       transition-timing-function: ease-in-out;

       display:flex;
       text-align: center;
       background-color: rgb(255, 63, 63);
       opacity: 0.95;
       border-radius: 0.5rem;
 }

 #gridTemplateImage08Overlay:hover {
       opacity: 0;
     }


#gridTemplateImage09 {
       grid-area:  gridTemplateImage09;
       overflow: hidden;
       background-color: rgb(204, 191, 10);
       border-radius: 0.5rem;
 }

 #gridTemplateImage09 img {
       display: block;
       max-width: 100%;
       transform: scale(1.3);
       transform-origin: 50% 2%;
       position: relative;
 }

 #gridTemplateImage09Overlay {
       grid-column-start: 3;
       grid-column-end: 4;
       grid-row-start: 3;
       grid-row-end: 4;
       justify-content: center;
       align-items: center;

       transition-property: opacity;
       transition-duration: 500ms;
       transition-timing-function: ease-in-out;

       display:flex;
       text-align: center;
       background-color: rgb(255, 63, 63);
       opacity: 0.95;
       border-radius: 0.5rem;
 }

 #gridTemplateImage09Overlay:hover {
       opacity: 0;
     }


.copyright {
       position: relative;
       top: 7.25rem;
       width: 100%;
       text-align: center;
       padding: 7rem 0;
       height: calc(100vh - (calc(100vh - 1.375rem))); 
       font-size: .7rem;
       background-color: rgb(255, 255, 255);
}







